body {
    background-image: url("../images/nightsky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.game-box {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.the-game {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
}

#play-btn{
    background: url("/images/startBtn.png"); 
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 50px;
}

#play-btn:active {
  background-color: transparent;
  transform: translateY(4px);
}

.points {
    color: white;
    font-size: 45px;
}
