body {
    background-image: url("../images/nightsky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.game-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.the-game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#play-btn{
    background: url("/images/startBtn.png"); 
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 50px;
    border: none;
}

#play-btn:active {
  transform: translateY(4px);
}

.points {
    background-image: url("/images/scoreTextbox.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 180px;
    height: 60px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-family: 'SF Pixelate', sans-serif;
    font-size: larger;
}

.game-over {
    background-color: black;
    width: 700px;
    height: 600px;
}


