body {
    background-image: url("../images/nightsky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.game-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.the-game {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.menu-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#play-btn{
    position: relative;
    background: url("/images/startBtn.png"); 
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 50px;
    border: none;
}

#play-btn:active {
  transform: translateY(4px);
}

#pause-btn {
    position: absolute;
    background: url("/images/pauseBtn.png"); 
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 55px;
    border: none;
    visibility: hidden;
}

#pause-btn:active {
    transform: translateY(4px);
  }

#reset-btn {
    background: url("/images/resetBtn.png"); 
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 50px;
    border: none;
    visibility: hidden;
}

#reset-btn:active {
    transform: translateY(4px);
  }

.points {
    background-image: url("/images/scoreTextbox.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 180px;
    height: 60px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-family: 'SF Pixelate', sans-serif;
    font-size: larger;
}

.game-over {
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/coffindance-coffin.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 650px;
    height: 400px;
    visibility: hidden;
}


